<h2>Por Capital</h2>
<hr>

<div class="row">
    <div class="col">
        <shared-search-box placeholder="buscar por capital"
            (onValue)="searchByCapital($event)"
        ></shared-search-box>
        <!-- SearchBox 
        <shared-search-box
            (onValue)="searchByCapital($event)"
            placeholder="Buscar por capital"
        ></shared-search-box>
        -->
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    tablaaaaaa de rsultadops
<!-- 
    <countries-table [countries]="countries"></countries-table>
     -->
  </div>
</div>
